@use '../../../styles/layouts.scss' as layouts;
@use '../../../styles/colors.scss' as colors;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 8%;
  background-color: #dedede;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  @media (max-width: 1450px) {
    width: 1200px;
  }
  @media (max-width: 1260px) {
    width: 1000px;
  }
  @media (max-width: 1030px) {
    width: 760px;
  }
  @media (max-width: 800px) {
    width: 600px;
  }
  @media (max-width: 640px) {
    width: 400px;
  }
  @media (max-width: 450px) {
    width: 350px;
  }
}
.section_title_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section_title {
  text-align: center;
  font-size: '30px';
  font-weight: 700;
  color: #777777;
  margin-bottom: 15px;
}
.cards {
  position: relative;
  background-color: #000;
  height: 580px;
  padding: 8px;
  margin: 0 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.step {
  position: absolute;
  text-align: center;
  left: 15px;
  top: 15px;
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 3;
  padding-top: 2px;
}
.jumbo_wrapper {
  width: 100%;
  /* position: relative; */
  & > div {
    position: relative !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.card_title {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600px;
  color: #fff;
}
.card_summary {
  margin: 5px 0;
  padding: 15px 15px;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  text-justify: inter-word;
  text-align-last: left;
}
.button_wrapper {
  position: absolute;
  bottom: 10px;
  left: 8px;
  right: 8px;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
/////
.image_wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  & > div {
    position: relative !important;
  }
  .image {
    object-fit: cover;
    position: relative !important;
    width: 380px !important;
    height: 380px !important;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    @media (max-width: 1260px) {
      width: 320px !important;
      height: 320px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.25);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @media (max-width: 1030px) {
      width: 370px !important;
      height: 370px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.18);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @media (max-width: 800px) {
      width: 295px !important;
      height: 295px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.18);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @media (max-width: 800px) {
      width: 295px !important;
      height: 295px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.18);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @media (max-width: 640px) {
      width: 400px !important;
      height: 400px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.18);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @media (max-width: 450px) {
      width: 350px !important;
      height: 350px !important;
      transform: scale(1.25);
      -webkit-transform: scale(1.18);
      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}

.carousel_container {
  width: 100%;
  @media (min-width: 640px) {
    display: none;
  }
  @media (max-width: 640px) {
    width: 400px !important;
    height: 400px !important;
    align-self: center;
  }
  @media (max-width: 450px) {
    width: 350px !important;
    height: 350px !important;
    align-self: center;
  }
}

.horizontal_divider {
  border: 1px solid #e8e8e8;
  margin: 15px;
  width: 40%;
}
